.content-wrapper {
  width: 100%;
  height: calc(100vh - 115px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-image: url(../../../assets/imgs/watermark.png);
  background-repeat: repeat;
  background-color: rgba($color: #fff, $alpha: 0.4);
  background-blend-mode: overlay;
}

.input-bar {
  position: fixed;
  width: 100%;
  height: 115px;
  left: 0px;
  bottom: 0px;
  background: #8026d9;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  form {
    width: 100%;
  }
  .dir-row {
    width: 100%;
    gap: 2rem;
  }
  fa-icon {
    font-size: 18px;
    color: var(--gray);
  }
}

button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

button:hover {
  background-color: var(--green);
}

.msgs-wrapper {
  width: 100%;
  margin: 80px 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  align-items: flex-end;

  .chat-msg {
    background-color: var(--yellow);
    padding: 10px;
    width: fit-content;
    max-width: 40vh;
    border-radius: 20px;
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
    justify-content: center;
    align-items: center;
    gap: 10px;
    word-break: break-all;

    p {
      margin: 0;
    }
  }

  .c2 {
    flex-direction: row-reverse;
    background-color: var(--aqua);
    align-self: flex-start;
  }

  .img-wrapper {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 4px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    img {
      width: 30px;
      height: 30px;
    }
  }
}
