/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import "./styles/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100;200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap");

html,
body {
  margin: 0 !important;
  padding: 0 !important;
}

//DIRECTIOn
.dir-col {
  display: flex;
  flex-direction: column;
}
.dir-row {
  display: flex;
  flex-direction: row;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//FONT CLASSES
.op-s {
  font-family: "Open Sans", sans-serif !important;
}
.gluten {
  font-family: "Gluten", cursive !important;
}

//COLOR CLASSES
.purple {
  color: var(--purple);
}
.aqua {
  color: var(--aqua);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.gray {
  color: var(--gray);
}
