@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  font-family: "Space Mono", monospace !important;
}

/* Intro section */
.intro {
  position: relative;
  width: 100%;
  top: 91px;
  height: 80vh;
  overflow: hidden;
}

/* Ellipse 2 */
.ellipse {
  position: absolute;
  width: 70%;
  height: 120vh;
  background: linear-gradient(
    90.43deg,
    #8026d9 50%,
    rgba(128, 38, 217, 0.5) 106.41%
  );
  border-radius: 90%;
  left: -20%;
  top: -150px;
}

.features {
  top: 70px;
  position: relative;
}
.img {
  // position: relative;
  // left: 100px;
  padding: 10px 15px;
  width: 100%;
  background: url("../../../assets/imgs/AppImage.png");
  background-position: center;
  background-size: cover;
}
.content {
  position: relative;
  top: 70%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.logo {
  img {
    width: 75%;
  }
  .crown {
    position: absolute;
    top: -44px;
    width: 18vh;
    left: 35%;
  }
}
.text {
  p {
    text-align: justify !important;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    line-height: 22px;
  }
  h3 {
    color: #26d9d9 !important;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 3px;
  }
}

.features {
  background-color: #f0eded;
  padding: 20px;

  h2 {
    color: #673ab7;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 20px 20px;
  }
}

.f1 {
  background-color: #26d9d9;
  img{
    margin-top: 10px;
    width: 40% !important;
  }
}

@media(max-width: 767px) {
   .f{
    height: 350px !important;
   }

   .about-img{
    display: none;
   }
   .crown{
    width: 14vh !important;
   }
}

@media(max-width: 577px) {
  .content{
    left: 38% !important;
  }
  .ellipse{
    width: 94% !important;
    left: -13% !important;
  }
  .intro{
    height: 85vh;
  }
  .ellipse{
    height: 125vh;
  }
}


.f2 {
  background-color: #7fd926;
}

.f3 {
  background-color: #ffde2e;
}

.f {
  border-radius: 10%;
  height: 20vw;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  h3 {
    color: rgb(251, 253, 255);
    font-weight: bold;
    margin-top: 10px;
  }
  .img-container {
    min-height: 85px;
    img {
      width: 30%;
    }
  }

  .c {
    position: relative;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
  }
}

.about {
  min-height: 80vh;
  position: relative;
  margin-top: 100px;
  padding: 25px;
  h2 {
    color: #26d9d9;
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
  }
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.contact-us {
  padding: 40px;
  background-color: grey;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #26d9d9;
  }
  p {
    color: white;
  }
  img {
    border: 25px solid #ffde2e;
    padding-top: 7px;
  }
}
