<section class="content-wrapper">
  <div class="signup-title dir-row" style="margin-top: 70px">
    <h1 class="op-s purple gluten"><b>Sign Up</b></h1>
  </div>
  <form
    *ngIf="!isLoading"
    [formGroup]="signupForm"
    (ngSubmit)="onSignup(signupForm.value)"
  >
    <div class="form-group col-lg-12 dir-row">
      <label class="op-s">Email: </label>
      <input
        type="text"
        class="form-control"
        placeholder="email@example.com"
        formControlName="email"
        [ngClass]="{
          'is-invalid': submittedForm && signupForm.controls.nickname.errors
        }"
      />
    </div>
    <div class="form-group col-lg-12 dir-row">
      <label class="op-s">Password: </label>
      <input
        type="password"
        formControlName="password"
        [ngClass]="{
          'is-invalid': submittedForm && signupForm.controls.password.errors
        }"
        class="form-control"
      />
    </div>
    <div class="form-group col-lg-12 dir-row">
      <label class="op-s">Nickname: </label>
      <input
        type="text"
        formControlName="nickname"
        [ngClass]="{
          'is-invalid': submittedForm && signupForm.controls.nickname.errors
        }"
        class="form-control"
        placeholder="Enter nickname"
      />
    </div>
    <div class="form-group dir-col">
      <label class="op-s" style="width: auto; align-self: center"
        >Choose an avatar
        <span
          class="op-s"
          style="color: red"
          *ngIf="submittedForm && signupForm.controls.avatar.errors"
        >
          <b>You must select an avatar!</b>
        </span>
      </label>
      <div class="avatars">
        <div *ngFor="let avatar of avatars; let i = index">
          <input
            type="radio"
            [id]="i"
            formControlName="avatar"
            [value]="avatar"
            (change)="onCheckChange($event)"
          />
          <label [for]="i"
            ><img
              src="https://raw.githubusercontent.com/MultingualChat/chatAppBuild/master/assets/avatar/{{
                avatar
              }}"
          /></label>
        </div>
      </div>
    </div>
    <div class="form-group col-lg-12 dir-row">
      <label class="op-s">Language: </label>
      <select
        formControlName="language"
        class="form-control"
        [ngClass]="{
          'is-invalid': submittedForm && signupForm.controls.language.errors
        }"
      >
        <option
          *ngFor="let language of languages | keyvalue"
          [ngValue]="language.key"
        >
          {{ language.value }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-warning gray">
      <b>Sign Up</b>
    </button>
  </form>
</section>
