.content-wrapper {
  width: 100%;
  padding: 2% 5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-image: url(../../../assets/imgs/background-world.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba($color: #fff, $alpha: 0.8);
  background-position-y: -68px;
  background-blend-mode: overlay;

  hr {
    width: 100%;
  }
}

h1 {
  font-size: 2rem;
}

.profile-title {
  width: 100%;
  justify-content: space-around;
  fa-icon {
    cursor: pointer;
  }
  .no-edit {
    color: var(--gray);
  }
  .edit {
    color: var(--yellow);
  }
}

form {
  display: flex;
  flex-direction: column;
  //width: 100%;
  //justify-content: space-around;
  min-width: 500px;
  gap: 2rem;
  label {
    width: 35%;
  }
  .dir-row {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  button {
    align-self: center;
    max-width: 100px;
  }
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 80%;
  align-self: center;
  margin-top: 1.5rem;
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label {
    background-color: rgba(var(--aqua), $alpha: 0.7);
    box-shadow: 0px 0px 7px 2px var(--aqua);
    border: 4px solid rgb(9, 149, 173);
  }
  label {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    border: 4px solid var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    overflow: hidden;
    cursor: pointer;
  }
  label:hover {
    background-color: rgba(var(--yellow), $alpha: 0.7);
    background-blend-mode: color-burn;
    box-shadow: 0px 0px 7px 2px var(--yellow);
  }
  img {
    width: 50px;
    height: 50px;
  }
}
